/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Mada&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=DM+Sans:opsz@9..40&family=Mada&family=Rubik&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=DM+Sans:opsz@9..40&family=Mada&family=Roboto&family=Rubik&display=swap');
*{
    padding: 0rem;
    margin: 0rem;
    /* background-color: #e6f2ea; */
}


html{
    font-size: 62.5%;
}

body{
    background-color: #e6f2ea;
    
    
    
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo{
    width: 20%;
}

.nav-mid{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home{
        font-family: Rubik;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.4rem;
        letter-spacing: 0em;
        text-align: left;
        color: #FF5151;
}

.mid-nav-items{
    font-family: Rubik, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.nav-right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.hero{
    background: linear-gradient(90deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%); 
    background-repeat: no-repeat;
    width: 93.5%;
    height: 60rem ;
    position: relative;
    
    left: 5rem;
    border-radius: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-left{
    align-content: center;
    width: 60%;
    height: max-content;
    padding: 13.4rem;
    box-sizing: border-box;
}

.hero-left-1{
        font-family: Mada;
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 2.3rem;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 5%;
        box-sizing: border-box;
}

.hero-left-2{
        font-family: Aclonica;
        font-size: 11.4rem;
        font-weight: 400;
        line-height: 12.9rem;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 3%; 
        box-sizing: border-box;

}

.hero-left-3{
            font-family: Mada;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 3.1rem;
            letter-spacing: 0em;
            text-align: left;
            padding-bottom: 5%;
            box-sizing: border-box;
}

.hero-btn{
        width: 21rem;
        height: 6rem;
        border: none;
        border-radius: 1rem;
        font-family: Roboto;
        font-size: 1.6rem;
        color: white;
        font-weight: 900;
        line-height: 2.5rem;
        letter-spacing: 0em;
        text-align: center;
        background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);
}

.hero-right{
    width: 40%;
    
}


.collection{
   width: 90%;
   height: max-content;
   position: relative;
   top: 7.0rem;
   left: 5.0rem;
   align-items: center;
   
}
.bar{
    margin: -0.5%;
    padding-left: 47.5%;
}

.col-main{
    background-color: transparent;
    width: 97%;
    height: max-content;
    margin-inline: 4%;
    margin-top: 2%;
    /* border: 1rem solid black; */
}

.collection-heading-1{
    position: relative;
    right: 2.7%; 
}

.collection-heading{
        font-family: Roboto;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0em;
        text-align: center;
        color: #000000;
        
}

.upper-btns{
    width: 60%;
    height: 6.3rem;
    position: relative;
    top: 10rem;
    left: 20%;
    border-radius: 1.0rem;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2%;
    box-sizing: border-box;
    
}

.upper-btns-items{
        
        width: 13rem;
        height: 6rem;
        background-color: #ffffff;
        border-radius: 1.0rem;
        font-family: Roboto;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 2.5rem;
        letter-spacing: 0em;
        padding: 2.5%;
        text-align: center;
        box-sizing: border-box;
        /* Maybe*/
        box-shadow: rgba(100, 100, 111, 0.2) 0rem 7rem 29rem 0rem;
}

.acceseries{
    color: white;
    background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #FF5E3A 100%);
}

.col-main-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18rem;
    flex-wrap: wrap;

}

.col-cards{
    width: 38rem;
    height: 43rem;
    border-radius: 2.5rem;
    /* background-color: #FF5151; */
    box-sizing: border-box;
    overflow: hidden;
    /* Maybe*/
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 4rem 12rem;
}

.card-image{
    width: 100%;
    height: 75%;
    padding-top: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(252, 203, 144, 0.44) 0%, rgba(255, 154, 158, 0.38) 100%);
}

.card-text{
    padding: 2%;
    width: 100%;
    height: 25%;
    background-color: #ffffff;
    box-sizing: border-box;
}

.text{
        font-family: Roboto;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.1rem;
        letter-spacing: 0rem;
        text-align: left;
        
}

.below-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    flex-wrap: wrap;
}

.price-btn{
    border: none;
    width: 8rem;
    height: 2.9rem;
    border-radius: 1.0rem;
    background-color:#FF5E3A;
    
}


.newArrival{
    width: 90%;
    height: max-content;
    position: relative;
    top: 12rem;
    left: 5rem;
    align-items: center;
    /* background-color: #FF5151; */
}


.grid-container {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
}

.left-side {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    
   
}

.right-side {
    grid-column: 2 / span 1;
    /* border: 1rem solid #333; */
    /* padding: 20rem; */
    border-radius: 5rem;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url(./assets/Poster-3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    
}

.div1,
.div2 {
    /* border: 1rem solid black; */
    height: 25rem;
    border-radius: 5rem;
    overflow: hidden;
    box-sizing: border-box;
    
}

.div1{
    background-image: url(./assets/poster-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.div2{
    margin-top: 2.5rem;
    background-image: url(./assets/Poster-2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.grid-text{
    position: absolute;
    bottom: 0.2rem;
    padding: 4%;
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
        
}

.grid-text-2 {
    position: absolute;
    bottom: 0.2rem;
    padding: 4%;
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;

}



.categories {
            width: 90%;
            height: max-content;
            position: relative;
            top: 17rem;
            left: 5rem;
            align-items: center;
            /* border: 1rem solid black; */
            
}

.catergories-container{
        margin-top: 5rem;
        position: relative;
        top: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
}


.cat-cards{
    width: 28.5rem;
    height: 34rem;
    
    
}

.cat-text{
    font-size: 1.4rem;
    box-sizing: border-box;

}

.price{
        font-family: Roboto;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.1rem;
        letter-spacing: 0rem;
        text-align: left;
        color: #909090;
        padding-left: 1%;
}


footer{
    width: 90%;
    /* height: max-content; */
    position: relative;
    top: 35rem;
    left: 5rem;
    height: max-content;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;

}


.social{
    width: 25%;
    height: max-content;
    /* background-color: #FF5151; */
    padding-left: 8%;
    box-sizing: border-box;
}

.soical-div{
    width: 80%;
    font-family: Rubik;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 2%;
}

.footer-category{
    width: 40%;
    height: max-content;
    margin-top: 5%;
    box-sizing: border-box;
    /* background-color: blue; */
}

.table1 {
    width: 100%;
    color: rgb(102, 102, 102);
    display: block;
    height: 30.5rem;
    text-size-adjust: 100%;
    padding-inline: 5%;
    color: #4F5665;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}


.table-1 {
    width: 80%;
    /* background-color: #ffffff; */
    font-size: 1.6rem;
    font-family: rubik;
    font-weight: 400;
    line-height: 3rem;
}

thead{
        font-family: Rubik;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: 0em;
        text-align: left;
        color: #0B132A;
}

.contact{
    width: 25%;
    height: max-content;
    margin-bottom: 6%;
    box-sizing: border-box;
    /* +\background-color: red; */
}


.contact-heading{
    font-family: Rubik;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
}

.contact-div{
    padding-top: 2%;
    font-family: Rubik;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    color: #0B132A;
}



@media screen and (max-width: 1000px) {
    html {
        font-size: 39%;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 28%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 24%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 20%;
    }
}
